<h1>Фёдор Юрецкий - 953501</h1>
<ul class="list-group">
    <li><a class="link-primary" asp-controller="Home" asp-action="Lab1">Лабораторная 1</a></li>
    <li><a class="link-primary" asp-controller="Home" asp-action="Lab2">Лабораторная 2</a></li>
    <li><a class="link-primary" asp-controller="Home" asp-action="Lab3">Лабораторная 3</a></li>
    <li><a class="link-primary" asp-controller="Account" asp-action="Index">Лабораторная 4</a></li>
    <li><a class="link-primary" asp-controller="Home" asp-action="Lab5">Лабораторная 5</a></li>
    <li><a class="link-primary" asp-controller="Home" asp-action="Lab6">Лабораторная 6</a></li>
</ul>