<!DOCTYPE html>
<html>
    <head>
        <title>Download</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/icon.png"/>
            <a href="/" class="link">About</a>
            <a href="/downloads" id="active-link" class="link">Downloads</a>
            <a href="/activation" class="link">Activation</a>
        </header>
        <div class="content">
            <div class="horizontal-group padding-vertical padding-horizontal">
                <div class="vertical-group"> 
                    <span class="description">TRIAL VERSION</span>
                    <img src="img/soy5.png" class="soy" />
                    <button class="my-button" onclick="window.open('/download/demo')">Download</button>
                </div>
                <div class="vertical-group"> 
                    <span class="description">FULL VERSION</span>
                    <img src="img/soy4.png" class="soy" />
                    <button class="my-button" onclick="window.open('/download/full')">Download</button>
                </div>
            </div>
        </div>
    </body>
</html>