<!DOCTYPE html>
<html>
    <head>
        <title>Calculator</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/icon.png"/>
            <a href="/" id="active-link" class="link">About</a>
            <a href="/downloads" class="link">Downloads</a>
            <a href="/activation" class="link">Activation</a>
        </header>
        <div class="content padding-vertical padding-horizontal">
            <div class="horizontal-group">
                <span class="description yelling">ABSOLUTELY BEST CALCULATOR IN THE WORLD!</span>
                <img src="img/soy1.png" class="soy" />
            </div>
            <div class="horizontal-group">
                <img src="img/soy2.png" class="soy" />
                <span class="description yelling">SCIENTIFIC MODE FOR TRUE SCIENTISTS!</span>
            </div>
            <div class="horizontal-group">
                <span class="description yelling">FREE DEMO VERSION FOR PEOPLE WITH NO MONEY.</span>
                <img src="img/soy3.png" class="soy" />
            </div>
        </div>
    </body>
</html>