@page "/counter"
@using System.ComponentModel.DataAnnotations

<h1>Counter</h1>

<EditForm Model="model" OnValidSubmit="SetCounter">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputNumber @bind-Value="model.NewValue"></InputNumber>
    <input type="submit"
            class="btn btn-outline-info mt-2 mb-2"
            value="Set counter">
</EditForm>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {


    private int currentCount = 0;
    public FormModel model;

    protected override void OnInitialized()
    {
        model = new FormModel();
    }


    private void IncrementCount()
    {
        currentCount++;
    }

    private void SetCounter()
    {
        currentCount = model.NewValue;
    }

    public class FormModel
    {
        [DataType("int")]
        [Range(0, int.MaxValue)]
        public int NewValue { get; set; }
    }
}
